@use '@/styles/abstracts/_mixins.scss';

.header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    @include mixins.max-width(sm) {
        width: 100vw;
        flex-direction: column;

        a {
            display: flex;
            justify-content: center;
        }
    }
}