.current_news {
    display: flex;
    width: 98%;
    
    form {
        display: block;
        margin: auto;
        .button {
            // display: flex;
            width: 6rem;
            background-color: rgb(55, 174, 12);
            box-shadow: var(--shadow-2xl);
            height: 3rem;              
            border-radius: 1.5rem;     
            transition: background-color 0.5s;
            &:hover {
                background-color: orange;
            }
        }
    }

    .hidden {
        display: none;
    }
}