.nav {
    display: flex;
    margin-right: 5rem;
    ul {
        display: flex;
        gap: 2rem;
        margin: 0;
        li {
            display: flex;
            align-items: center;
            margin: 0;
        }
    }
}