@use '@/styles/abstracts/_mixins.scss';

.nav {
    display: flex;
    margin-right: 5rem;

    @include mixins.max-width(sm) {
        margin: auto;                                       // Navigation links are centered
    }

    ul {
        display: flex;
        gap: 2rem;
        margin: 0;

        @include mixins.max-width(sm) {
            flex-direction: column;                         // Categories are one under the other
        }

        li {
            display: flex;
            align-items: center;
            margin: 0;

            @include mixins.max-width(sm) {
                
            }

            .nav_link {
                color: var(--text-primary-light);
                font-weight:bold;
                border-bottom: 2px solid transparent;
                transition: border-color 0.3s;
                padding: 0.8rem;

                &:hover {
                    border-bottom: 2px solid var(--text-primary-light);
                }
            }
        }
    }
}