@use '@/styles/abstracts/_mixins.scss';

.navicon_button {
        display: none;

    @include mixins.max-width(sm) {
        display: flex;
        outline: 1px solid black;
        width: 3rem;
        margin: auto;                       

        svg {
            margin: auto;
        }
    }
}

.hide {
    display: none;
}